In [ ]:
# Function to count sum of null values in all columns 
# just input the df name

In [ ]:
def null_value_counts(df):
    print('\033[1m'+'Null value counts in columns:'+ '\033[0m')
    x = df.columns.values.tolist()
    for i in x:
        a=df[i].isnull().sum()
        print(' {} : "{}"'.format(i,a))

In [ ]:
# Enter the df and it gives the shape when
# 1.original shape    2.dropped duplicates  3.Dropped nulls  4.Dropped duplicates and then nulls

In [ ]:
# check for shape after dropping all null values and gives counts

def count_null_and_dup_removed(df):
    ppp=df.shape
    print(' {} : "{}"'.format('Original shape : ',ppp))
    thatrandomdf=df.copy()
    mmm=thatrandomdf.drop_duplicates().shape
    print(' {} : "{}"'.format('After dropping duplicates : ',mmm))
    nnn=thatrandomdf.dropna().shape
    print(' {} : "{}"'.format('After dropping just nulls :',nnn))
    thatrandomdf.drop_duplicates(inplace=True)
    bbb=thatrandomdf.dropna().shape
    print(' {} : "{}"'.format('After duplicates and dropna : ',bbb))

In [ ]:
# Enter the DF and get value counts of all columns at once

In [ ]:
def defined_values(df):
    x = df.columns.values.tolist()
    for i in x:
        print('\033[1m' + i + '\033[0m')
        print(' {} :{} '.format('Unique_count',df[i].nunique()))
        print('\033[1m' +'Count for the values'+ '\033[0m')
        print(' {} '.format(df[i].value_counts(dropna=False)))